<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <!-- Create a new tab for Prismasell -->
        <tab id="prismasell" translate="label" sortOrder="100">
            <label>Prismasell</label>
        </tab>

        <!-- Create a new Prismasell section -->
        <section id="prismasell_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Slider Settings</label>
            <tab>prismasell</tab> <!-- This references the Prismasell tab -->
            <resource>Prismasell_Pslider::config</resource>

            <!-- Product Slider Settings Group -->
            <group id="product_slider_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Slider Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
